body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/* Estilizando o header */
header { 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 3px 0px;
  text-align: center;
  display: flex;            /* Usamos flexbox no próprio header */
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
}

h1 {
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-content {
  justify-content: center;    /* Centraliza horizontalmente */
  align-items: center;        /* Centraliza verticalmente */
}

.logo {
  width: 100px;              /* Tamanho da logo */
  margin-right: 10px;        /* Espaçamento entre a logo e o texto */
}

/* Layout principal: lateral (menu) + conteúdo */
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.lista {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.video {
  width: 100%;
}

iframe {
  width: 100%;
  height: 315px;
}

/* Lateral esquerda (menu) */
.lateral {
  background-color: rgb(245, 130, 31);
  width: 300px;
  padding: 28px 150px;
  box-sizing: border-box;
}

/* Estilizando os botões */
.button {
  display: block; /* Para que o link ocupe toda a largura da div */
  text-align: center;
  padding: 10px 30px;
  margin: 10px -100px; /* Espaçamento entre os botões */
  background-color: #f0ad4e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 8px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.buttoncm {
  display: block; /* Para que o link ocupe toda a largura da div */
  text-align: center;
  padding: 10px 30px;
  margin: 10px -100px; /* Espaçamento entre os botões */
  background-color: #f0ad4e; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 8px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.button:hover {
  background-color: #ec971f; /* Cor ao passar o mouse */
}

.lateral a {
  display: block;
  margin-bottom: 35px;
  text-decoration: none;
  color: black;
  font-size: 27px;
  font-weight: bold;
}

/* Conteúdo principal */
.conteudo {
  background-color: rgba(245, 131, 31, 0.204);
  flex-grow: 1; /* Faz o conteúdo ocupar o restante da largura */
  padding: 20px 50px;
  box-sizing: border-box;
  border-left: 5px solid #ccc; /* Separador entre a lateral e o conteúdo */
}

/* Estilizando o footer */
footer {
  background-color: rgba(125, 99, 73, 0.496);
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
}

footer a {
  color: white;
  text-decoration: underline;
}

/* Definindo altura total para o conteúdo ocupar a tela inteira */
html, body {
  height: 100%;
}

#pesq-sinais {
  margin: 0;
}

.pesquisa-sinais-body {
  padding: 3px 0px;
  text-align: center;
  display: flex;            /* Usamos flexbox no próprio header */
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
}

.centralizar-imagem {
  display: block;
  margin: 0 auto;
  max-width: 700px; /* ou qualquer valor desejado */
  height: auto;
}

.centralizar-texto {
  text-align: center; /* Centraliza especificamente o parágrafo */
  width: 550px;  /* Tamanho fixo da imagem */
}

.imagem-container {
  position: relative;
  width: 550px;  /* Tamanho fixo da imagem */
  height: 600px; /* Tamanho fixo da imagem */
}

.imagem-container {
  position: relative; /* Define o contêiner da imagem como relativo */
  display: inline-block; /* Para que o botão possa ser posicionado dentro dele */
  text-align: center; /* Centraliza o texto dentro do contêiner */
}

.botoes-container {
  display: flex;
  flex-direction: column; /* Coloca os botões em coluna */
  align-items: center; /* Centraliza os botões horizontalmente */
  margin-top: 20px; /* Espaçamento entre a imagem e os botões */
}

.botao {
  position: absolute; /* Faz com que o botão seja posicionado em relação ao contêiner pai */
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente para o botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 16px; /* Tamanho da fonte do botão */
  font-weight: bold; /* Negrito para destacar o texto */
  z-index: 1; /* Garante que o botão fique acima da imagem */
}

.voltar {
  margin-top: 20px;
  text-align: center;
}

.voltar button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px; /* Aumentado o padding */
  font-size: 18px;    /* Aumentado o tamanho da fonte */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px; /* Arredondamento maior nos cantos */
  transition: background-color 0.3s; /* Adicionando transição suave para hover */
  margin: 3px; /* Espaçamento entre os botões */
}

.voltar button:hover {
  background-color: #fc8f00;
}

.botao:hover {
  background-color: #fc8f00; /* Cor de fundo ao passar o mouse */
}

/* Estilo específico para os botões */
.botao-rosto {
  top: 15%; /* Centraliza verticalmente */
  left: 50.2%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-pescoco {
  top: 27%; /* Centraliza verticalmente */
  right: 15%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-bracos {
  top: 47%; /* Centraliza verticalmente */
  right: 5%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-ombros {
  top: 35%; /* Centraliza verticalmente */
  right: 55%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-tronco {
  top: 55%; /* Centraliza verticalmente */
  right: 65%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-peitos {
  top: 42%; /* Centraliza verticalmente */
  left: 50.2%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-antebracos {
  top: 70%; /* Centraliza verticalmente */
  right: -0%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-espaconeutro {
  top: 58%; /* Centraliza verticalmente */
  left: 83%; /* Lado esquerdo */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-cintura {
  top: 70%; /* Centraliza verticalmente */
  right: 32.2%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-quadril {
  top: 60%; /* Centraliza verticalmente */
  right: 32.2%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-mao {
  top: 85%; /* Centraliza verticalmente */
  left: 20%; /* Lado esquerdo */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
}

/* Estilo específico para os botões */
.botao-cabeca {
  top: 9%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  width: 330px; /* Largura do botão */
  height: 90px; /* Altura do botão */
  padding: 20px;
}

.botao-testa {
  top: 25%; /* Centraliza verticalmente */
  right: -22%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 400px; /* Largura do botão */
  height: 90px; /* Altura do botão */
  padding: 10px;
}

.botao-sobrancelhas {
  top: 40%; /* Centraliza verticalmente */
  right: 40%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 180px; /* Largura do botão */
  height: 40px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-olhos {
  top: 49.5%; /* Centraliza verticalmente */
  right: 49%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 100px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  padding: 10px;
}

.botao-macasdorosto {
  top: 60%; /* Centraliza verticalmente */
  left: 70.2%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 120px; /* Largura do botão */
  height: 80px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-atm {
  top: 48%; /* Centraliza verticalmente */
  left: 84%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 20%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 70px; /* Largura do botão */
  height: 80px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-orelhas {
  top: 58%; /* Centraliza verticalmente */
  left: 93%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%) rotate(15deg); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 80%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 50px; /* Largura do botão */
  height: 150px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-tempora {
  top: 28%; /* Centraliza verticalmente */
  left: 92%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 100px; /* Largura do botão */
  height: 220px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-nariz {
  top: 59%; /* Centraliza verticalmente */
  left: 51%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 100px; /* Largura do botão */
  height: 220px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-rostoneutro {
  top: 85%; /* Centraliza verticalmente */
  right: -10%; /* Lado direito */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 90%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 90px; /* Largura do botão */
  height: 150px; /* Altura do botão */
  padding: 10px 10px;
}

.botao-boca {
  top: 82%; /* Centraliza verticalmente */
  left: 51%; /* Lado esquerdo */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 60%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 138px; /* Largura do botão */
  height: 72px; /* Altura do botão */
}

.botao-mandibula {
  top: 80%; /* Centraliza verticalmente */
  right: 8%; /* Lado direito */
  border-radius: 90%;
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 80%; /* Torna a borda completamente arredondada para criar um círculo */
  transition: background-color 0.3s ease; /* Efeito de transição */
  width: 90px; /* Largura do botão */
  height: 220px; /* Altura do botão */
  padding: 10px 10px;
  transform: translate(-50%, -50%) rotate(30deg); /* Centraliza o botão em relação ao seu próprio centro */
}

.botao-queixo {
  top: 97%; /* Centraliza verticalmente */
  left: 52%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o botão em relação ao seu próprio centro */
  width: 155px; /* Largura do botão */
  height: 50px; /* Altura do botão */
}

.botao-cabeca:hover, .botao-testa:hover, .botao-sobrancelhas:hover, .botao-olhos:hover, .botao-nariz:hover, .botao-macasdorosto:hover, .botao-atm:hover, .botao-boca:hover, .botao-mandibula:hover, .botao-queixo:hover, .botao-macasdorosto:hover, .botao-rostoneutro:hover, .botao-orelhas:hover, .botao-tempora:hover {
  background-color: #45a0497b; /* Cor de fundo ao passar o mouse */
}

#contain {
  background-size: contain;
}

.imagem-contain {
  display: flex;               /* Aplica o Flexbox */
  justify-content: normal;      /* Centraliza as imagens horizontalmente */
  align-items:normal;          /* Alinha as imagens verticalmente no centro */
  gap: 20px;                    /* Espaçamento entre as imagens */
  padding: 20px;
}

/* Imagens */
.imagem-contain img {
  width: 180px;
  height: 180px;
  border-radius: 10px;          /* Bordas arredondadas para as imagens */
  transition: transform 0.3s;   /* Transição suave para efeitos */
}

.imagem-contain .cm:hover {
  transform: scale(1.1);        /* Efeito de zoom ao passar o mouse */
}

.cm {
  width: 180px;
  height: 180px;
  background-size: 120px;
  border: 5px solid rgb(255, 224, 98);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  background-color: white;
  padding: 3px;
  max-width: 1200px; /* Limita a largura máxima */
  background-size: contain;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header, .pesquisa-sinais-body {
    flex-direction: column;
    padding: 10px 5px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  .logo {
    width: 80px;
    margin: 10px auto;
  }

  .container {
    flex-direction: column;
  }

  .lateral {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    margin: 10px;
    font-size: 16px;
    padding: 10px 20px;
    width: 80%;
    max-width: 300px;
  }

  .conteudo {
    padding: 15px;
    border-left: none;
    border-top: 3px solid #ccc;
  }

  .centralizar-imagem,
  .centralizar-texto,
  .imagem-container {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .botoes-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .botao {
    font-size: 12px;
    padding: 5px 10px;
  }

  .botao-cabeca {
    top: 10%;
    left: 50%;
    width: 330px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-testa {
    top: 27%;
    right: -14%;
    width: 330px;
    height: 60px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-sobrancelhas {
    top: 37%;
    right: 45%;
    width: 130px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-olhos {
    top: 45%;
    right: 53%;
    width: 80px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-nariz {
    top: 55%;
    left: 50%;
    width: 70px;
    height: 190px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-macasdorosto {
    top: 55%;
    left: 70%;
    width: 120px;
    height: 90px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-atm {
    top: 45%;
    left: 85%;
    width: 50px;
    height: 60px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-boca {
    top: 75%;
    left: 51%;
    width: 120px;
    height: 70px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-mandibula {
    top: 75%;
    right: 8%;
    width: 90px;
    height: 190px;
    transform: translate(-50%, -50%) rotate(30deg);
    position: absolute;
  }

  .botao-queixo {
    top: 88%;
    left: 52%;
    width: 110px;
    height: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-rostoneutro {
    top: 80%;
    right: -6%;
    width: 70px;
    height: 120px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-tempora {
    top: 30%;
    left: 90%;
    width: 70px;
    height: 160px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .botao-orelhas {
    top: 52%;
    left: 95%;
    width: 45px;
    height: 140px;
    transform: translate(-50%, -50%) rotate(15deg);
    position: absolute;
  }

  .imagem-contain {
    flex-direction: column;
    align-items: center;
  }

  .imagem-contain img {
    width: 100px;
    height: 100px;
  }

  .voltar button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
  }
}
